body {
  background-color: #292929;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .main,
  .right {
    width: 100%;
  }
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.Column {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.Main {
  float: left;
  padding: 20px;
  width: 70%;
}

.Right {
  float: left;
  padding: 10px;
  width: 25%;
}

.Head_box {
  border: 3px solid #708090;
  background-color: #3f3f3f;
  border-radius: 25px;
  border-width: medium;
  font-family: 'New York';
  height: 90px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Main_header {
  text-align: center;
  color: #f1f1f1;
}

.head_text {
  font-size: 30px;
  font-family: 'New York';
}

.Watering_box {
  border: 3px solid #708090;
  background-color: #3f3f3f;
  border-radius: 25px;
  border-width: medium;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  padding: 10px;
}

.Watering_head {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1f1f1;
  font-family: 'New York';
}

.Watering {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1f1f1;
  font-family: 'New York';
}

.fetches {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f1f1f1;
  font-family: 'New York';
}

.Ambient_box {
  border: 3px solid #708090;
  background-color: #3f3f3f;
  border-radius: 25px;
  border-width: medium;
  height: 420px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Plant_box {
  border: 3px solid #708090;
  background-color: #3f3f3f;
  border-radius: 25px;
  border-width: medium;
  font-family: 'New York';
  height: 620px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  transition-duration: 0.4s;
  border-radius: 10%;
  border: none;
  /* padding: 14px 40px; */
  width: 100px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 25px;
  background-color: #69c6af;
}

.button:hover {
  background-color: #244a80; 
  color: rgb(188, 188, 188);
}

.logo_img {
  width: 90px;
}

.water_img {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  /* padding-left: 120px; */
}

.plant_img {
  width: 140px;
}

.temp_img {
  width: 40px;
}